// COLORS
main = #333333
solBase03 = #002b36
solBase02 = #073642
solBase01 = #586e75
solBase00 = #657b83
solBase0  = #839496
solBase1  = #93a1a1
solBase2  = #eee8d5
solBase3  = #fdf6e3
solYellow = #b58900
solOrange = #cb4b16
solRed    = #dc322f
solMagenta= #d33682
solViolet = #6c71c4
solBlue   = #268bd2
solCyan   = #2aa198
solGreen  = #859900
ruby      = #e9573f
mainHover = rgba(38, 139, 210, 0.42)
hover = darken(main, 50%)
mainLight = #AB67AB
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem